.note {
  position: relative;
  height: 10rem;
  background-color: whitesmoke;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 5px grey;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 20px 10px;
}

@media (max-width: 768px) {
  .note {
    height: 10rem;
    gap: 0.5rem;
    margin: 10px;
  }
}

@media (max-width: 450px) {
  .note {
    gap: 0.5rem;
    height: 15rem;
    margin: 0;
  }
}

/* NOTE HEADER */
.note .note-header {
  display: flex;
  justify-content: space-between;
  font-size: var(--fs-h4);
  border-bottom: 2px solid grey;
  padding-bottom: 0.3rem;
}

@media (max-width: 450px) {
  .note .note-title {
    font-size: var(--fs-p);
  }
}

.note .note-icons img {
  height: var(--fs-h4);
  margin: 0 0.3rem;
  filter: invert(0.5);
  transition: filter 0.2s ease;
}

.note .note-icons img:hover {
  filter: invert(0);
}

@media (max-width: 450px) {
  .note .note-icons img {
    height: var(--fs-p);
  }
}

/* NOTE CONTENT */
.note .content {
  font-size: var(--fs-p);
  padding-top: 0.3rem;
  word-wrap: break-word;
  overflow-wrap: break-word; /* modern browsers */
  white-space: normal;
}

@media (max-width: 450px) {
  .note .content {
    font-size: var(--fs-sm);
  }
}

/* Note Buttons */
.note .note-icons button {
  border: none;
  outline: none;
}
